<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stronger.platform.infrastructure.user.mapper.SysUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stronger.platform.domain.user.entity.SysUserInfo">
        <id column="increment_id" property="incrementId" />
        <result column="user_id" property="userId" />
        <result column="user_version" property="userVersion" />
        <result column="real_name" property="realName" />
        <result column="id_card" property="idCard" />
        <result column="is_enable" property="isEnable" />
        <result column="sex" property="sex" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="create_time" property="createTime" />
        <result column="creator" property="creator" />
        <result column="update_time" property="updateTime" />
        <result column="last_modifier" property="lastModifier" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
